/* Quitar bordes blancos */
* {
    margin: 0;
    padding: 0;
}

/* Que todos los elementos del body se desplieguen en forma de columna
    y que el mínimo de altura del body sea el 100% del viewport */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Estilo principal del menú de navegación */
.menu-navbar {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 1rem 1.5rem 1.5rem 1rem;
    background-color: cadetblue;
    font-family: 'Courier New', Courier, monospace;
}

/* Estilo del logo de la empresa en el navbar */
.logo {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    align-self: center;
    margin-left: 3rem;
    margin-right: 3rem;
}
.logo img{
    max-width: 60%;
    max-height: 60%;
}


/* Que los items de tipo li en el navbar
se muestren en una sola linea */
.menu-navbar li {
    display: inline-block;
    padding: 1rem;
}
.menu-navbar ul{
    align-self: center;
}

/* Botones del navbar y su transición */
.boton-nav {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem;
    background-color: rgb(68, 110, 112);
    border-radius:5px;
    border: 1px solid rgb(68, 110, 112);
    font-weight: bold;
    text-transform: uppercase;
    transition: border-radius 0.4s, box-shadow 0.2s;
}
/* Botones del navbar RESPONSIVE y su transición */
.boton-nav-r {
    text-decoration: none;
    color: #fff;
    font-size: 0.8rem;
    padding: 0.5rem;
    background-color: rgb(68, 110, 112);
    border: 1px solid rgb(68, 110, 112);
    font-weight: bold;
    text-transform: uppercase;
    transition: border-radius 0.4s, box-shadow 0.2s;
}

/* Animación de hover en botones de navbar */
.menu-navbar li a:hover {
    background-color: rgb(134, 192, 195);
    border-radius: 22px;
    border: 1px solid #666;
    color: #333;
    box-shadow: 0 0 15px #444;
}

/* Botón de navbar en página activa */
.menu-navbar li a.active {
    background-color: rgb(134, 192, 195);
    border: 1px solid #333;
    color: #333;
}

/* Contenedor arriba de catalogos */
.top-catalogos {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    justify-content: center;
    align-items: center;
}
.top-contacto {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    justify-content: center;
    align-items: center;
}

/* Formulario de contacto */
.formulario-contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 6rem 2rem 2rem 2rem;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin: 1rem;
}

.boton-formulario{
    padding: 0.5rem;
    border: 1px solid cadetblue;
    border-radius: 8px;
    background-color: rgb(134, 192, 195);
    color: #333;
    font-weight: bold;
    transition: all 0.3s ease-out;
}

.boton-formulario:hover {
    background-color: rgb(68, 110, 112);
    border-radius: 10px;
    border: 1px solid #666;
    color: #fff;
    scale: 1.3;
    transition: scale 0.2s, border-radius 0.5s; 
}

/* Página principal */
.principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;

}

.boton-vercatalogos {
    margin: 4rem;
    text-decoration: none;
    border: 2px solid cadetblue;    
    border-radius: 10px;
    padding: 1rem;
    background-color: rgb(134, 192, 195);
}

.principal label {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem;

}

.buscar-productos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.buscar-productos input {
    padding: 0.5rem;
    margin: 0.5rem;
    border: 1px solid cadetblue;
    border-radius: 5px;
}

.buscar-productos button {
    padding: 0.5rem;
    margin: 0.5rem;
    border: 1px solid cadetblue;
    border-radius: 5px;
    background-color: rgb(134, 192, 195);
    color: #333;
    font-weight: bold;
}

/* Redes sociales */
.redes-sociales {
    display: inline-block;
    margin: 1rem;
}

.redes-sociales a{
    font-size: 1.5rem;
    margin: 1rem 4rem;
}

/* Footer */
footer {
    display:block;
    margin-top: auto;
    background-color: #333;
    color: #fff;
    align-items: center;
    text-align: center;
    padding: 10px;
    /* mantener al final de la pagina */
}

/* Links del footer */
footer a {
    color: #fff;
    text-decoration: none;
    font-style: italic;
    margin: 0rem 2rem;
}

footer nav {
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8rem;
}

/* Botón de footer en página activa */
footer a.active {
    text-decoration: underline;
}

/* Estilo principal de botón menú y oculto */
.menu-boton {
    display: none;
    cursor: pointer;
    color: #333;
}

/* Botón para menú se muestra en dispositivos pequeños */
#menu-cambiar {
    display: none;
}

.menu-r {
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

.feature {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25vh;

}

/* Estilos para el navbar responsive */
@media(max-width: 980px){

    .menu-navbar {
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 1rem 1.5rem 1.5rem 1rem;
        background-color: cadetblue;
    }

    /* Botón que muestra menú */
    .menu-boton {
        display: flex;
        align-self: center;
        margin-right: 1rem;
    }

    /* Quitar botones principales */
    .botones {
        display: none;
    }

    
    /* Acceder a propiedades hermanas del input checklist
    y sus respectivos estilos con la pseudo-clase checked
    y el combinador ~ */
    #menu-cambiar:checked ~ .menu-r {
        display: block;
        visibility: visible;
        opacity: 1;
        position: unset;
        background-color: cadetblue;
        transition: opacity 0.4s, visibility 0.4s, position 0.4s;
        border: none;
    }   

    #menu-cambiar:checked ~ .menu-r a {
        display: block;
        padding: 2vh;
        text-align: center;
    }
    #menu-cambiar:checked ~ .menu-r a:hover {
        background-color: cadetblue;
    }

    .buscar-productos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .redes-sociales {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}